<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="admin/static/common_head::commoncssheader('首页')">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>芊朵恋</title>
</head>
<body>
<div th:fragment="left">
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree myleft ">
                <li class="layui-nav-item layui-nav-itemed " th:each="meun:${session.MENULIST}"
                    th:if="${meun.parent_menucode eq '0' && meun.menu_type eq '1' }">
                    <a href="#" th:text="${meun.menu_name}"></a>
                    <dl class="layui-nav-child" th:if="${meun.parent_menucode eq '0' && meun.menu_type eq '1' }">

                        <dd th:class="${submeun.data_url}"    th:each="submeun:${session.MENULIST}" th:if="${submeun.parent_menucode eq meun.menu_code && submeun.menu_type eq '1' }">
                            <a th:href="@{${submeun.data_url}}" th:text="${submeun.menu_name}"></a>
                            <!--<a href="javascript:void(0)" th:text="${submeun.menu_name}"></a>-->
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!--<div th:include="admin/static/onload_js::onloadJs"></div>-->

</div>



</body>


</html>

