<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<body th:fragment="maincontent">
<style>
    .layui-table    tr  td {height: 100px !important;}

    .layui-table[lay-size=lg]  td .layui-table-cell{
        height: 100px !important;
        line-height: 100px !important;
    }


    .layui-table  .layui-upload-list{
        margin:0;
    }

    .normalinputwidth{
        width:350px;
    }
</style>


<form class="layui-form search_stocklist_form" method="post" th:action="@{/SysStockController/getStockInfoList}">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label" style="text-align:center;" >货号</label>
            <div class="layui-input-inline">
                <input type="text" name="goods_id"   autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label">商品颜色</label>
            <div class="layui-input-inline">
                <input type="tel" name="goods_color"   autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label" style="text-align:center;" >商品名称</label>
            <div class="layui-input-inline">
                <input type="text" name="goods_name"   autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label">尺码</label>
            <div class="layui-input-inline">
                <select name="goods_size">
                    <option th:each="goodsize : ${GoodsSizeBound}"  th:value="${goodsize.value}" th:text="${goodsize.name}" selected></option>
                </select>
            </div>

            <div class="layui-inline" style="float:right;">
                <input type="button" class="layui-btn layui-btn-radius search_btn"   value="我要查询"></input>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-inline">
                <input type="text" name="start_time" placeholder="开始时间" ;   class="layui-input" id="condictionstart" readonly>
            </div>
            <label class="layui-form-label" style="text-align:center;">~</label>
            <div class="layui-input-inline">
                <input type="text" name="end_time" placeholder="结束时间"   id="condictionend"   class="layui-input" readonly>
            </div>
        </div>

        <label class="layui-form-label">库存</label>
        <div class="layui-input-inline">
            <input type="tel" name="total"   class="layui-input">
        </div>
    </div>
</form>


<table class="layui-table"
       lay-data="{height: 'full-220', url:'/SysStockController/getStockInfoList', page:true, id:'stockListId',limit:5,limits:[5,10,15,20,25]}"
       lay-filter="stockListFilter" lay-size="lg"  >
    <thead >
    <tr  >
        <th lay-data="{field:'goods_id', width:130}">商品货号</th>
        <th lay-data="{field:'goods_name', width:150}">商品名称</th>
        <th lay-data="{field:'goods_instock_price',align:'center', width:100}">进货价格</th>
        <th lay-data="{field:'goods_sale_price',align:'center', width:80, sort: true}">售价</th>
        <th lay-data="{field:'goods_color', width:100 }">商品颜色</th>
        <th lay-data="{width:100, templet:'#templetgoods_size'}">商品尺码</th>
        <th lay-data="{width:200, align:'center',templet:'#templetcreate_time', sort: true}">创建时间</th>
        <th lay-data="{field:'total',  width:200,align:'center' }">库存</th>
        <th lay-data="{field:'user_name',  width:200,align:'center' }">所属店铺</th>
        <th lay-data="{fixed: 'right',width:400, align:'center',templet:'#templetimgurl'}" >图片</th>
    </tr>
    </thead>
</table>

<!--尺码视图-->
<script type="text/html" id="templetgoods_size">
    <!--6 无 ,0 S  ,1 M ,2 L,3 xl,4 xxl,5 xxxl '-->
    {{#  if(d.goods_size == 6){ }}
    <div class="layui-table-cell laytable-cell-1-sex">无码</div>
    {{#  } else if(d.goods_size == 5){ }}
    <div class="layui-table-cell laytable-cell-1-sex">XXXL</div>
    {{#  } else if(d.goods_size == 4){ }}
    <div class="layui-table-cell laytable-cell-1-sex">XXL</div>
    {{#  } else if(d.goods_size == 3){ }}
    <div class="layui-table-cell laytable-cell-1-sex">XL</div>
    {{#  } else if(d.goods_size == 2){ }}
    <div class="layui-table-cell laytable-cell-1-sex">L</div>
    {{#  } else if(d.goods_size == 1){ }}
    <div class="layui-table-cell laytable-cell-1-sex">M</div>
    {{#  } else if(d.goods_size == 0){ }}
    <div class="layui-table-cell laytable-cell-1-sex">S</div>
    {{#  } }}
</script>

<script type="text/html" id="templetcreate_time">
    <div class="layui-table-cell laytable-cell-1-create_time">{{ Format(d.create_time,"yyyy-M-d h:m:s")}}</div>
</script>




<script type="text/html" id="templetimgurl">
    <div class="layui-table-cell laytable-cell-1-create_time"  style="height: 100px;">
        <div class="layui-upload-list"  >
            {{#  layui.each(d.img_url_show, function(index, item){ }}
            <img    src="{{ item }}" onerror="this.src='/uploadimages/GoodsInfoUpload/default_pic.jpg'">
            {{#  }); }}
        </div>
    </div>
</script>

<script th:src="@{/static/js/goodsinfolist.js}"></script>
<script>

    var carouseltest=null;

    function onloadInit(upload,layform,laydate,element,table,layer,carousel) {

        //查询按钮
        $(".search_btn").on('click',function () {
            table.reload('stockListId', {
                url: '/SysStockController/getStockInfoList'
                ,where: $(".search_stocklist_form").serializeObject()
            });
        })

        laydate_manager(laydate);

        carouseltest = carousel;//存图片
    }


</script>
</body>
</html>
